#!/bin/sh

/usr/bin/heroku config:add DEBUG=true
/usr/bin/heroku config:add SECRET_KEY="development key"

/usr/bin/heroku config:add TITLE="Stupid web nikki"
/usr/bin/heroku config:add PASSWORD="password"

/usr/bin/heroku config:add PGSQL_DB=""
/usr/bin/heroku config:add PGSQL_USER=""
/usr/bin/heroku config:add PGSQL_PASS=""
/usr/bin/heroku config:add PGSQL_HOST=""
/usr/bin/heroku config:add PGSQL_PORT=5432

