#!/bin/sh

export DEBUG="1"
export SECRET_KEY="development key"

export TITLE="Stupid web nikki"
export PASSWORD="password"

export PGSQL_DB=""
export PGSQL_USER=""
export PGSQL_PASS=""
export PGSQL_HOST=""
export PGSQL_PORT="5432"

export SERVICE_DOMAIN="localhost:5000"

export GOOGLE_ANALYTICS_ACCOUNT="" # MODIFY ME (basically, this field would be like: "UA-xx-xx")
