<!DOCTYPE html>
<html lang="ja">
  <head>
{% block head %}
    <meta charset="utf-8" />
    <title>{{ var['title']|unicode }}</title>
    <link href="/rss" type="application/rss+xml" rel="alternate" />
    <link href="/static/css/main.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery-1.7.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/static/js/html5.js"></script>
    <![endif]-->
{% if '' != g['google_analytics_account'] %}{% include 'google-analytics.html' %}{% endif %}
{% endblock %}
  </head>

  <body>
<h1><a href="/">{{ g['h1']|unicode }}</a></h1>

{% block main %}{% endblock %}

<hr />

{% block search %}
<div class="search-box">
<form action="search" method="GET">
<input id="q" name="q" placeholder="Search keyword here" type="text" value="{{ var.q }}" />
<input type="submit" value="Search" />
<span class="credit">Powered by - <a href="https://github.com/mahata/.stupid-web-nikki/">Stupid Web Nikki</a></span>
</form>
</div>
{% endblock %}

{% block creativecommons %}
<div class="creative-commons">
<a href="http://creativecommons.org/licenses/by-sa/3.0/"><img src="/static/img/creativecommons.gif" alt="Creative Commons" /></a>
</div>
{% endblock %}

  </body>
</html>
