<!DOCTYPE html>
<html lang="ja">
  <head>
{% block head %}
    <meta charset="utf-8" />
    <title>{{ var['title'] }}</title>
    <script type="text/javascript" src="/static/js/jquery-1.7.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% endblock %}
  </head>

  <body>
<h1><a href="/">{{ var['title'] }}</a></h1>
{% block main %}{% endblock %}
  </body>
</html>
