{% extends "base.html" %}

{% block main %}

{% if g['login'] %}
<ul>
 <li><a href="/write">Write new article</a></li>
</ul>
{% endif %}

<ul>
{% for article in var.articles %}
  <li>{% if g['login'] %}(<a href="/write?date={{ article[1] }}">edit</a>) {% endif %}{{ article[1]|date }}: <a href="/article?date={{ article[1] }}">{{ article[0]|unicode|truncate(50, True, "...") }}</a></li>
{% endfor %}
</ul>

<div class="paging">
{% if var.articles|length == var.article_number_per_page %}
<a href="/?page={{ var.page + 1}}">&laquo; older articles</a>
{% endif %}
{% if 1 < var.page %}
<a href="/?page={{ var.page - 1}}">newer articles &raquo;</a>
{% endif %}
</div>

{% endblock %}
