{% extends "base.html" %}

{% block head %}
{{ super() }}
{% if g.login %}
<script type="text/javascript" src="/static/js/write.js"></script>
<link type="text/css" rel="stylesheet" href="/static/css/write.css" />
{% endif %}
{% endblock %}

{% block search %}{% endblock %}

{% block main %}

{% if g.login %}
<div id="container">

<div id="header">
<h2>Write your article</h2>
</div>

<div id="left-box" style="border-style: solid; height: 500px; padding: 5px; text-align: center;">
<form method="POST">
<input name="date" type="hidden" value="{{ var['date'] }}" />
<textarea id="article" name="article" style="width: 95%; height: 470px;" placeholder="Write your article...">{{ var['article']|unicode }}</textarea><br />
<input type="submit" value="post" />
</form>
</div>

<div id="right-box" style="border-style: solid; height: 500px; overflow: scroll; padding: 5px;">
<div id="preview" style="width: 95%"></div>
</div>
{% endif %}


{% endblock %}
