{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="/static/js/write.js"></script>
{% endblock %}

{% block main %}

{% if g.login %}
<h2>Write your article</h2>

<div>
<form method="POST">
<textarea id="article" name="article" rows="20" style="width: 100%;" placeholder="write something here...">{{ var['article'] }}</textarea><br />
<input type="submit" value="post" />
</form>
</div>

<h2>Preview</h2>
<div id="preview">
</div>

{% else %}
<p>
You're not login user.
</p>

<ul>
 <li><a href="login">login</a></li>
</ul>
{% endif %}


{% endblock %}
