{% extends "base.html" %}

{% block head %}
{{ super() }}
{% if g.login %}
<script type="text/javascript" src="/static/js/write.js"></script>
<link type="text/css" rel="stylesheet" href="/static/css/write.css" />
<link type="text/css" rel="stylesheet" href="/static/css/user.css" />
{% endif %}
{% endblock %}

{% block search %}{% endblock %}

{% block main %}

{% if g.login %}
<div id="container">

<div id="header">
<h2>Write your article</h2>
</div>

<div id="left-box">
<form method="POST">
<input name="date" type="hidden" value="{{ var['date'] }}" />
<textarea id="text" name="text" placeholder="Write your article...">{{ var['article']|unicode }}</textarea><br />
<input type="submit" value="post" />
</form>
</div>

<div id="right-box">
<div id="article"></div>
</div>

</div>
{% endif %}


{% endblock %}
